# Public repository allowlist.
#
# The submitted DARPA/DICE package and working proposal material stay local.
# The public repository should contain only:
#   - README
#   - Apache-2.0 license
#   - simulation code
#   - Python visualization/export dependencies
#   - generated images/GIFs referenced by the README

*

!/.gitignore
!/README.md
!/LICENSE
!/requirements.txt

!/sim/
!/sim/ryujin_sim.py

!/docs/
!/docs/sim_images/
!/docs/sim_images/ryujin_*.png
!/docs/sim_images/ryujin_*.gif
